* {
  margin: 0;
  padding-top: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  width: 100%;
  background-color: rgba(213, 213, 213, 1);
  height: 100px;
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
}

.date-all {
  display: flex;
}

.circle-num {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.circle {
  border: 4px solid;
  height: 80px;
  width: 80px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(94, 0, 36, 1);
}

.circle p {
  font-size: 42px;
  font-weight: 700;
  color: rgba(94, 0, 36, 1);
  font-family: "Quicksand", sans-serif;
}

.date {
  height: 100%;
  line-height: 115px;
  font-size: 42px;
  letter-spacing: 3px;
  margin: 5px;
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
}

.date-info {
  color: #4233A;
}

.nav {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 4px 10px;
}

.nav li a {
  text-decoration: none;
  color: #4233aa;
}

.nav li a:hover {
  color: grey;
  border-bottom: 1px solid currentColor;
}

.nav .active {
  border-bottom: 1px solid currentColor;
}

.alternate {
  background: -webkit-linear-gradient(90deg, #292032 10%, #43233a 90%);
  background: linear-gradient(90deg, #292032 10%, #43233a 90%);
  color: white;
}

.alternate-text {
  color: rgb(200, 200, 200);
}

.alternate-circle {
  border: 4px solid rgb(200, 200, 200);
}

.alternate-circle p {
  color: rgb(200, 200, 200);
}

#slides {
  height: 100%;
  width: 100%;
  background-color: olive;
  flex: 1;
}

.slide {
  flex: 1;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  font-family: "Quicksand";
  text-align: center;
  display: flex;
  flex-direction: column;
}

.slide1 {
  display: none;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(90deg, #292032 10%, #43233a 90%);
  background: linear-gradient(90deg, #292032 10%, #43233a 90%);
  width: 100%;
  padding-bottom: 60px;
  min-height: calc(90vh - 120px);
}

.content-time {
  max-width: 100%;
  flex: 1;
  background-color: rgba(100, 100, 100, 0);
  border-right: 1px solid rgb(100, 100, 100);
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-transtion: opacity 0.5s;
  transition: opacity 0.5s;
  order: 1;
}

.strikethrough {
  text-decoration: line-through;
  opacity: 0.25;
  transition: 0.5s;
  display: flex;
  order: 2;
  justify-content: center;
}

.content-time p {
  background-color: rgba(100, 100, 100, 0.5);
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  margin: 2px;
  width: 90%;
  min-width: 100%;
  color: rgb(200, 200, 200);
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.recentText {
  flex: 40;
}

.filler2 {
  flex: 1;
  flex-shrink: 20;
}

.content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-header h1 {
  flex: 1;
  text-align: center;
  font-size: 36px;
  color: rgb(200, 200, 200);
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  border-bottom: 1px solid currentColor;
  margin: 10px;
  order: 0;
}

.content-stats {
  flex: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  color: rgba(200, 200, 200, 0.65);
  order: -1;
  align-self: center;
  letter-spacing: 1px;
}

.filler {
  flex: 1;
  order: 1;
}

.input-text {
  color: rgb(200, 200, 200);
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#p-day0,
#p-week0,
#p-month0 {
  display: none;
}

.clear-button {
  background-color: rgba(200, 0, 0, 1);
  border: none;
  color: rgb(200, 200, 200);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: rgba(250, 150, 50, 0.55);
}

.input-text {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
}
